@font-face {
  font-family: 'OswaldBold';
  src: local('OswaldBold'), url('./../../assets/fonts/Oswald-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'OswaldMedium';
  src: local('OswaldBold'), url('./../../assets/fonts/Oswald-Medium.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'OswaldRegular';
  src: local('OswaldBold'), url('./../../assets/fonts/Oswald-Regular.ttf');
  font-weight: bold;
}
